.form_lodge2 {
    background-color: #b8b1f9e6;
    margin: auto;
    width: 50%;
    padding: 4rem;
    border-radius: 30px;
    align-items: center;
  }
  .form_title2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: #4a097e;
  
  }

  .form_text_3 {
    background-color: #faf7fb;
    width: 100%;
    border-radius: 10px;
  }
.add-container{
    background-color: #F5F5F5;
    flex-wrap: wrap;
    z-index: -4;
    max-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.app-name{
    font-family: Inknut Antiqua;
}
.details-container{
    background-color: #b8b1f9e6;
    width: 50%;
    height: 60vh;  
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    padding: 2rem;
    gap: 0px;
    padding-bottom: 10px;
}
body{
    font-family: 'Manrope', sans-serif;
}
.input{
    border: 1px solid #cfcdcdf9;
    padding-left: 11px;
    width: 100%;
    height: 3.5rem;
    border-radius: 8px;
}
.input:hover{
  border: 1px solid #050000f9;
}
.submit_btn {
    padding: 20px;
    font-size: 20px;
    margin-right: 50px;
    width: 50%;
    background-color: rgb(75, 34, 96);
    color: #faf7fb;
    font-weight: bold;
    border-radius: 20px;
  }
  .submit_btn:hover {
      cursor: pointer;
      background-color: #662998cf;
    }
  .submit_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.input-container{
  width: 100%;
  display: flex;  
  justify-content: center;
  align-items: center; 
  padding: 1rem;
  flex-direction: column;
}
.input-header {
    padding: 8px;
    font-weight: 600;
    font-size: x-large;
    width: 100%;
}
