.fir-detail-container {
    background-color: #b8b1f9e6;
    margin: auto;
    width: 90%;
    padding: 2rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    
}

.fir-detail-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #4a097e;
}

.fir-detail-item {
    margin-bottom: 10px;
}

.fir-detail-item strong {
    margin-right: 10px;
}

.add-note-btn,
.save-note-btn,
.update-status-btn {
    background-color: #4a097e;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; 
}

.add-note-btn:hover,
.save-note-btn:hover,
.update-status-btn:hover {
    background-color: #6d5baf;
}

.fir-detail-item-container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.select-box {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.update-status-btn {
    display: block;
    width: 100%;
}

.status-container {
    border: 1.2px solid #9b59b6; 
    padding: 10px;
    margin-bottom: 10px; 
    border-radius: 5px;
}

.case-status {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 15px;
    color: #4a097e; 
    font-size: 18px;
}

