.status-container{
    display: flex;
    flex-wrap: no-wrap;
    z-index: -4;
    height: auto;
    max-width: 100%;
    justify-content: center;
    gap: 26px;
    border:0px;
    padding-top: 26px;
    padding-bottom: 26px;
}