.form_lodge_fir {
  background-color: #b8b1f9e6;
  margin: auto;
  width: 50%;
  padding: 4rem;
  border-radius: 30px;
  align-items: center;
}
.form_title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: #4a097e;
  margin-left: 20%;
}
.form_text {
  background-color: #faf7fb;
  width: 100%;
  border-radius: 10px;
}
.form_desc {
  background-color: #faf7fb;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  padding: 2px;
  text-decoration: none;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  padding: 2rem;
}
.submit_btn {
  padding: 20px;
  font-size: 20px;
  margin-right: 50px;
  width: 50%;
  background-color: rgb(75, 34, 96);
  color: #faf7fb;
  font-weight: bold;
  border-radius: 20px;
}
.submit_btn:hover {
    cursor: pointer;
    background-color: #662998cf;
  }
.submit_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selection_box {
  background-color: #faf7fb;
  width: 100%;
  border-radius: 10px;
}
input[type="file"]{
    font-size: 1.2em;
    padding: 1rem;
    background-color: #e4e3e6;
    border-radius: 10px;
}
.cam{
  margin-top: 0%;
  border: 2px solid rgba(93, 15, 109, 0.89);
  float: right;
  width: 22%;
  padding: 5px;
  border-radius: 20px;
}

video{
  width: 100%;
}

.start{
  background-color: #b8b1f9e6;
  color: #4a097e;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.stop{
  background-color: #4a097e;
  color: #b8b1f9e6;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bolder;
  margin-left: 20px;
  float: right;
}